extends layout

block content
  h2 Recently uploaded file is at the bottom of the list, Please Select to continue!
  br
  .container
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      p
        b List of book names:
      ul.list-group
        each result, i in results
          li.list-group-item
            a.btn.btn-default(href='') #{result.name}
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      p
        b Click on these to add info:
      ul.list-group
        each file, i in files
          li.list-group-item
            a.btn.btn-default(href='/books/add/'+ file.filename)= file.filename
