extends layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            span.glyphicon.glyphicon-lock
            |  #{title}
          .panel-body
            form.form-horizontal(role='form', method='POST', action='/books/edit/'+book._id)
              .form-group
                label.col-sm-2.control-label(for='Title')
                  | Title
                .col-sm-10
                  input#Title.form-control(type='text', name='title', value= book.title)
              .form-group
                label.col-sm-2.control-label(for='Genre')
                  | Genre
                .col-sm-3
                  select#Genre.form-control(name='genre', placeholder='genre')
                    option(selected='') select a genre
                    option horror
                    option fiction
                    option romance
              .form-group
                label.col-sm-2.control-label(for='Author')
                  | Author
                .col-sm-10
                  input#Author.form-control(name='author', type='text', value=book.author)
              .form-group
                label.col-sm-2.control-label(for='Url')
                  | Image Url
                .col-sm-10
                  input#Url.form-control(name='image_url', type='text', value= book.image_url)
              .form-group
                label.col-sm-2.control-label(for='Body')
                  | Body
                .col-sm-10
                  textarea#Body.form-control(name='body')= book.body
              .form-group.last
                .col-sm-offset-3.col-sm-9
                  button.btn.btn-success.btn-sm(type='submit')
                    | Submit
