extends layout

block content
  h1 #{title}
  center
    form(method='POST', action='/books/scout') 
      #form-group
        input.form-control(name='scout', type='text', placeholder='search here')
      input.btn.btn-primary(type='submit',value='Submit')
  
  br  
  ul.list-group
    each book, i in books
      li.list-group-item
        img(src=book.image_url, style='width:50px;height:50px;') 
        a(href="/books/"+book._id)= book.title 
        
        
  
